<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The Blog</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/1bbbb6ac70.js" crossorigin="anonymous"></script>
</head>

<body>
  <section id="title">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="#"><i class="fas fa-blog "></i>TheBlog</a>
      <ul class="nav nav-pills nav-fills ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="">SIGN IN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">LOG IN</a>
        </li>
      </ul>
    </nav>
    <h1 class="main-heading">Say things the way You want them to be Said.</h1>
    <h3>Write whatever's in your mind.Its easy and free.</h3>
    <button class="btn btn-lg btn-light btn-outline-secondary" type="button" name="button">Create Blog Now</button>
  </section>

<section class="discription">

  <div class="row">
    <div class="col-lg-2 col-md-6">
      <h3 class="dis-head">Style or Screw the way you like   it.</h3>
    </div>
    <div class="col-lg-4 col-md-6">
      <p class="dis-para">Create a beautiful blog that fits your style. Choose from a selection of easy-to-use templates – all with flexible layouts and hundreds of background images – or design something new.</p>
    </div>
    <div class="col-lg-6 ">
      <img class="dis-img"src="images/pencil.webp" alt="">
    </div>
  </div>
</section>
<section class="offer">
  <form class="" action="/sign" method="get">

  <button type="submit" name="button" class="sign btn-lg btn btn-dark">Sign Up Now</button>
</form>

</section>

</html>
